/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  color: white;
  text-transform: uppercase;
  background: black; }

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }
  .wrap::after {
    clear: both;
    content: "";
    display: table; }

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center; }

.button {
  display: flex;
  justify-content: center;
  background: darkorange;
  width: 200px;
  height: 75px;
  border: none;
  position: relative;
  color: white; }
  .button h4 {
    font-size: 16px;
    text-transform: uppercase; }
  .button::after {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
    background: black; }
  @media screen and (max-width: 769px) {
    .button {
      display: none; } }

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 75px; }
  @media screen and (max-width: 961px) {
    .top-nav {
      justify-content: space-between;
      margin: 0; } }
  .top-nav .logo {
    display: flex;
    align-items: center;
    height: auto; }
    .top-nav .logo .bear-paw {
      max-width: 50%;
      height: 60px;
      align-items: center; }
  .top-nav .sandwich {
    width: 50px;
    height: 40px; }
    @media screen and (min-width: 961px) {
      .top-nav .sandwich {
        display: none; } }
  .top-nav ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 65%;
    height: 100%;
    justify-content: flex-end; }
    @media screen and (max-width: 961px) {
      .top-nav ul {
        display: none; } }
    .top-nav ul li {
      margin-left: 25px; }

.hero {
  margin-bottom: 2.5%;
  width: 100%; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 833px) {
    .hero {
      height: 500px; } }
  @media screen and (min-width: 834px) {
    .hero {
      height: 678px; } }
  .hero img {
    z-index: -1;
    position: relative;
    top: -20%; }
    @media screen and (max-width: 833px) {
      .hero img {
        min-width: 833px;
        height: inherit; } }
    @media screen and (min-width: 834px) {
      .hero img {
        min-width: 1130px;
        height: inherit; } }
  .hero .hero-elements {
    max-width: 90%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 770px) {
      .hero .hero-elements {
        top: 40%; } }
    .hero .hero-elements li {
      margin-bottom: 1%;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center; }
      .hero .hero-elements li img {
        min-width: 94px;
        height: 73px; }
      .hero .hero-elements li h3 {
        font-size: 18px;
        letter-spacing: 2px; }
      .hero .hero-elements li h1 {
        margin-bottom: 5%;
        font-size: 84px; }
      .hero .hero-elements li .line {
        margin-bottom: 10%;
        background: white;
        width: 300px;
        height: 5px; }

.middle-nav {
  display: flex;
  width: 100%;
  height: 80px;
  background: grey; }
  @media screen and (max-width: 961px) {
    .middle-nav {
      display: none; } }
  .middle-nav ul {
    display: flex;
    align-items: center;
    margin-left: 5%;
    width: 100%;
    height: auto; }
    .middle-nav ul li {
      margin-right: 5%; }
      .middle-nav ul li:last-child {
        position: relative;
        left: 30%; }

.grid {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-direction: column;
  align-content: space-between; }
  .grid::after {
    clear: both;
    content: "";
    display: table; }
  .grid .trip {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-bottom: 2.5%; }
    .grid .trip img {
      align-self: center; }
      @media screen and (max-width: 690px) {
        .grid .trip img {
          min-width: 690px;
          height: inherit; } }

/*# sourceMappingURL=main.css.map */
