.grid
  // position: absolute
  // top: 75%
  display: flex
  max-width: 100%
  height: auto
  // margin-top: -12%
  margin-right: 0
  flex-direction: column
  align-content: space-between
  // overflow: hidden
  // @media screen and (max-width: 690px)
  // flex-direction: column
  // align-content: stretch
    // justify-content: center
  .trip
    // position:
    display: flex
    justify-content: center
    max-width: 100%
    height: auto
    margin: 5px 0
    // @media screen and (max-width: 690px)
      // margin: 10px
    img
      // @media screen and (max-width: 690px)
      max-width: 100%
      height: auto
      align-self: center
    // .rafting, .whale-watching
    //   width: 690px
    //   height: 250px

  // &:first-child, &:last-child
  //   flex-basis: 510px
