.rafting
  max-width: 100%
  height: auto
  // position: relative
  display: flex
  justify-content: center
  align-items: center
  .circle-raft
    width: 60px
    height: 60px
    background: rgba(48, 48, 48, 0.6)
    border-radius: 100%
    display: flex
    justify-content: center
    align-items: center
    // position: absolute
    // top: 50%
    // left: 50%
    // margin-right: -50%
    // transform: translate(50%, 50%)
    img
      width: 30px
      max-height: 43px
      // position: absolute
      // top: 50%
      // left: 50%
      // margin-right: -50%
      // transform: translate(50%, 50%)

.camping
  max-width: 100%
  height: auto
  // position: relative
  display: flex
  justify-content: center
  align-items: center
  .circle-camp
    width: 60px
    height: 60px
    background: rgba(48, 48, 48, 0.6)
    border-radius: 100%
    // position: absolute
    // top: 50%
    // left: 50%
    // margin-right: -50%
    // transform: translate(-50%, -50%)
    display: flex
    justify-content: center
    align-items: center
    img
      width: 40px
      max-height: 40px
      // position: absolute
      // top: 55%
      // left: 50%
      // margin-right: -50%
      // transform: translate(-50%, -50%)

.backpacking
  max-width: 100%
  height: auto
  // position: relative
  display: flex
  justify-content: center
  align-items: center
  .circle-boots
    width: 60px
    height: 60px
    background: rgba(48, 48, 48, 0.6)
    border-radius: 100%
    // position: absolute
    // top: 50%
    // left: 50%
    // margin-right: -50%
    // transform: translate(-50%, -50%)
    display: flex
    justify-content: center
    align-items: center
    img
      width: 35px
      max-height: 34px
      // position: absolute
      // top: 50%
      // left: 50%
      // margin-right: -50%
      // transform: translate(-50%, -50%)

.canoeing
  max-width: 100%
  height: auto
  // position: relative
  display: flex
  justify-content: center
  align-items: center
  .circle-canoe
    width: 60px
    height: 60px
    background: rgba(48, 48, 48, 0.6)
    border-radius: 100%
    // position: absolute
    // top: 50%
    // left: 50%
    // margin-right: -50%
    // transform: translate(-50%, -50%)
    display: flex
    justify-content: center
    align-items: center
    img
      width: 30px
      max-height: 43px
      // position: absolute
      // top: 50%
      // left: 50%
      // margin-right: -50%
      // transform: translate(-50%, -50%)

.photography
  max-width: 100%
  height: auto
  // position: relative
  display: flex
  justify-content: center
  align-items: center
  .circle-camera
    width: 60px
    height: 60px
    background: rgba(48, 48, 48, 0.6)
    border-radius: 100%
    // position: absolute
    // top: 50%
    // left: 50%
    // margin-right: -50%
    // transform: translate(-50%, -50%)
    display: flex
    justify-content: center
    align-items: center
    img
      width: 40px
      max-height: 40px
      // position: absolute
      // top: 52.5%
      // left: 52.5%
      // margin-right: -50%
      // transform: translate(-50%, -50%)

.whale-watching
  max-width: 100%
  height: auto
  // position: relative
  display: flex
  justify-content: center
  align-items: center
  .circle-compass
    width: 60px
    height: 60px
    background: rgba(48, 48, 48, 0.6)
    border-radius: 100%
    // position: absolute
    // top: 50%
    // left: 50%
    // margin-right: -50%
    // transform: translate(-50%, -50%)
    display: flex
    justify-content: center
    align-items: center
    img
      width: 35px
      max-height: 44px
      // position: absolute
      // top: 50%
      // left: 50%
      // margin-right: -50%
      // transform: translate(-50%, -50%)

.circle
  transition: all 0.2s
.circle:hover
  transform: scale(2, 2)
