.rafting
  max-width: 100%
  height: auto
  position: relative
  .circle-raft
    width: 60px
    height: 60px
    background: rgba(104, 104, 104, 0.8)
    border-radius: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    img
      width: 30px
      max-height: 43px
      position: absolute
      top: 50%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)

.camping
  max-width: 100%
  height: auto
  position: relative
  .circle-camp
    width: 60px
    height: 60px
    background: rgba(104, 104, 104, 0.8)
    border-radius: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    img
      width: 40px
      max-height: 40px
      position: absolute
      top: 55%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)

.backpacking
  max-width: 100%
  height: auto
  position: relative
  .circle-boots
    width: 60px
    height: 60px
    background: rgba(104, 104, 104, 0.8)
    border-radius: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    img
      width: 35px
      max-height: 34px
      position: absolute
      top: 50%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)

.canoeing
  max-width: 100%
  height: auto
  position: relative
  .circle-canoe
    width: 60px
    height: 60px
    background: rgba(104, 104, 104, 0.8)
    border-radius: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    img
      width: 30px
      max-height: 43px
      position: absolute
      top: 50%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)

.photography
  max-width: 100%
  height: auto
  position: relative
  .circle-camera
    width: 60px
    height: 60px
    background: rgba(104, 104, 104, 0.8)
    border-radius: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    img
      width: 40px
      max-height: 40px
      position: absolute
      top: 52.5%
      left: 52.5%
      margin-right: -50%
      transform: translate(-50%, -50%)

.whale-watching
  max-width: 100%
  height: auto
  position: relative
  .circle-compass
    width: 60px
    height: 60px
    background: rgba(104, 104, 104, 0.8)
    border-radius: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    img
      width: 35px
      max-height: 44px
      position: absolute
      top: 50%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)
