.button
  display: flex
  justify-content: center
  background: darkorange
  width: 200px
  height: 75px
  border: none
  position: relative
  color: white
  h4
    font-size: 16px
    text-transform: uppercase
  &::after
    width: 0
    height: 0
    position: absolute
    border-left: 50px solid transparent
    border-right: 50px solid transparent
    border-top: 100px solid black
    background: black
  @media screen and (max-width: 769px)
    display: none
